html
    head
        link(rel="stylesheet", href="style.css")

    body
        div.jumbotron.jumbotron-inverse
            div.container
                h1
                    strong HN Feed
                p We <3 hacker news!
        div.container
            table.table.table-hover
                tbody
                    each post in posts
                        tr(data-href="#{post.story_url || post.url}")
                            td #{post.story_title || post.title}
                                small  - #{post.author} -
                            td
                                =moment(post.created_at).calendar()
                            td(style="width: 80px;")
                                button.btn.btn-transparent.visible-hover(data-id="#{post.objectID}")
                                    i.glyphicon.glyphicon-trash
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="/main.js")
